body {
    margin: 10px auto;
    width: 80%;
    background-color: #fff9fc;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ffffff;
}

li a.active {
  color: white;
  background-color: #3F7981;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #154C54;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

h1 {
    font-size: 3em;
    color: #154C54;
    font-family: 'Sans-Serif';
    text-align:center;
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {

  /*  img#underconstruction {width: 100%; height: 100%; margin: 0; padding; 0;}
    
   <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true"> */
} 




nav ul, footer ul {
    font-family:'Sans-Serif';
    font-size: 1em;
    color: #021c3d;
   /* padding: 10px; */
    list-style: none;
    font-weight: normal;
    text-align: left; 
    vertical-align: top;
   /* margin: 20*/
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #021c3d;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align:center;
}


h2 {
    font-size: 2em;
    line-height: 1.4em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align: center;
}

h3 {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align:center;
}

footer {
    border-top: 1px solid #fff9fc;
    font-size: .8em;
}

ul.posts { 
    margin: 10px auto 20px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #e2ced8;
}

.flex-container > div {
  background-color: #fff9fc;
  width: 30;
  margin: 20;
  text-align: left;
  line-height: 1.6;
  font-size: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    display: block;
    margin-right: auto;
    float: left; 
}

.right {
    display: block;
    margin-left: auto;
   float: right;
}

div.desc {
    padding: 15px;
  /*  text-align: center;*/
}


/* Three image containers */
.column3 {
  float: left;
  width: 32%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 30%;
  padding: 100px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


 /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

/* Text box for homepage text */
.div1 {
    width: 300px;
    padding: 10px;
}

