body {
    margin: 1em auto;
    width: 90%;
}

/*li {
  float: left;
}

li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #3F7981;
}

li a.active {
  color: white;
  background-color: #3F7981;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #154C54;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

h1 {
    font-size: 3em;
    color: #154C54;
    font-family: 'Sans-Serif';
    text-align:center;
}


p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align:center;
}

/*/////////////////////////////////////*/
/* drop down menu formatting */
.dropbtn {
  background-color: #154C54;
  color: white;
  padding: 16px;
  font-size: 16px; 
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #154C54;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
}

.dropdown-content a {
  color: black;
  padding: 14px 16px; 
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #3F7981;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3F7981;}

/*/////////////////////////////////////*/
/* image formatting  */
/* For screen widths smaller than 700px: */
body {
  background-repeat: no-repeat;
  background-color: #154C54;
}

/* For screen widths 700px and larger: */
@media only screen and (min-width: 700px) {
  body { 
    background-color: #fff9fc;

  }
}

/*/////////////////////////////////////*/
/*formatting text over an image */

 /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 1em;
    left: 2.5em;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 1em;
    left: 2em;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 1em;
    right: 2em;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 1em;
    right: 2em;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

/* Text box for homepage text */
.div1 {
    width: 15em;
    padding: 2.5em;
}






nav ul, footer ul {
    font-family:'Sans-Serif';
    font-size: 1em;
    color: #021c3d;
   /* padding: 10px; */
    list-style: none;
    font-weight: normal;
    text-align: left; 
    vertical-align: top;
   /* margin: 20*/
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #021c3d;
}



h2 {
    font-size: 2em;
    line-height: 1.4em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align: center;
}

h3 {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align:center;
}

footer {
    border-top: 1px solid #fff9fc;
    font-size: .8em;
}

ul.posts { 
    margin: 10px auto 20px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #e2ced8;
}

.flex-container > div {
  background-color: #fff9fc;
  width: 30;
  margin: 20;
  text-align: left;
  line-height: 1.6;
  font-size: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    display: block;
    margin-right: auto;
    float: left; 
}

.right {
    display: block;
    margin-left: auto;
   float: right;
}

div.desc {
    padding: 15px;
  /*  text-align: center;*/
}


/* Three image containers */
.column3 {
  float: left;
  width: 32%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 30%;
  padding: 100px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


