body {
    margin: 10px auto;
    width: 80%;
    background-color: #fff9fc;
}
nav ul, footer ul {
    font-family:'Sans-Serif';
    font-size: 1em;
    color: #021c3d;
    padding: 10px;
    list-style: none;
    font-weight: normal;
    text-align: left; 
    vertical-align: top;
    margin: 20;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #021c3d;
    line-height:1.6;
    font-size:1.5em;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align:center;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align:justify;
}
h2 {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align:right;
}

h3 {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align:left;
}
h4 {
    font-size: 2em;
    color: #021c3d;
    font-family: 'Sans-Serif';
    text-align: center;
}


footer {
    border-top: 1px solid #fff9fc;
    font-size: .8em;
}

ul.posts { 
    margin: 10px auto 20px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #e2ced8;
}

.flex-container > div {
  background-color: #fff9fc;
  width: 30;
  margin: 20;
  text-align: left;
  line-height: 1.6;
  font-size: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.desc {
    padding: 15px;
  /*  text-align: center;*/
}


/* Three image containers */
.column3 {
  float: left;
  width: 32%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 30%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
